{# Automatically extends the right outer layout and also handles AJAX siutations #} {% extends data.outerLayout %} {% block title %} {# Create a useful, SEO-friendly title tag based on what we have #} {% if data.piece %} {{ data.piece.title }} {% elseif
data.page %} {{ data.page.title }} {% else %} {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }} {% endif %} {% endblock %} {% block extraHead %}
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="copyright" content="" />
<meta name="robots" content="index,follow" /> {% endblock %} {% block beforeMain %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ data.home._url }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Menu</a>
                    <div class="dropdown-menu">
                        <div>
                            {% for tab in data.home._children %}
                            <a class="dropdown-item" href="{{ tab._url }}"><strong>{{ tab.title }}</strong></a> {% if tab._children.length %}
                            <ul style="list-style: unset;">
                                {% for child in tab._children %}
                                <li> <a class="dropdown-item" href="{{ child._url }}">{{ child.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %} {% endfor %}
                        </div>
            </ul>
            </div>
        </div>
</nav>
{% endblock %} {% block main %} {# OVERRIDEN IN PAGE #} {% endblock %} {% block afterMain %}
<footer class="page-footer font-small pt-4">
    <div class="footer copyright text-center py-3">
        <p>
            {{ apos.singleton(data.global, 'footerCopyrightText', 'apostrophe-rich-text', { toolbar: [ 'Bold', 'Italic', 'Underline', 'RemoveFormat', 'Undo', 'Redo' ] } ) }}
        </p>
        <small>Template By <a href="https://www.patrickdavis.co.uk" target="_blank">PJD</a></small>
    </div>
</footer>
{% endblock %}